.services-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 48px;
  justify-content: center;
}

.services-cards .service-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    background: white;
  border-radius: 6px;
  border: 1px solid #E6E9F4;
  cursor: pointer;
   animation: fadeInUp 0.6s ease forwards;
  /* padding: 24px; */
  
}



@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.services-cards .service-card .name-container {
  min-height: 110px;
  display: flex;
  align-items: flex-start;
  padding: 24px;

}

.services-cards .service-card .name-container h4 {
  font-size: 38px;
  font-weight: 400;
  color: #23272f;
  line-height: 1.3;
  margin: 0;
}

.services-cards .service-card .service-route-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}






/* --- hover ilə ox/mətn dəyişimi burada olur --- */

.service-route-container {
  position: relative;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.35s ease;
}

/* kartın hər hansı yerinə hover edəndə aktivləşir */
.service-card:hover .service-route-container {
  background-color: #1D42CE;
}

/* ox */
.service-route-container .arrow-icon {
  transition: opacity 0.25s ease, transform 0.25s ease;
  opacity: 1;
  transform: translateY(0);
}

.service-card:hover .service-route-container .arrow-icon {
  opacity: 0;
  transform: translateY(-8px);
  pointer-events: none;
}

/* mətn */
.service-route-container .route-text {
  position: absolute;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #ffffff;
  opacity: 0;
  transform: translateY(8px);
  transition: opacity 0.25s ease, transform 0.25s ease;
  display: flex;
  align-items: center;
}


.service-route-container .route-text svg {
  margin-left: 10px;
}

.service-card:hover .service-route-container .route-text {
  opacity: 1;
  transform: translateY(0);
}