*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: "Source Sans Pro";
 
}
body{
  background: rgba(181, 212, 255, 0.25); /* 0.25 = 25% */
}
.main-container{
  padding: 20px 40px;
  margin:  0 100px;
}


@media screen and (max-width:800px) {
    .main-container{
      padding: 24px 12px;
      margin: 0;
    }
}